.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.font-link {
  font-family: 'Quicksand';
}

menu-button {
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: transparent;
  font-family: 'Quicksand';
}
button {
  border: none;
  color: white;
  padding: 5px 100px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 15px 8px;
  cursor: pointer;
  background-color: #7e9f38;
  font-family: 'Quicksand';
}

menu-button:hover {
  background-color: rgba(255, 255, 255, 0.654);
  color: #7e9f38;
}

button:hover {
  background-color: rgba(255, 255, 255, 0.654);
  color: #7e9f38;
}

input {
  border: solid #7e9f38;
  color: #7e9f38;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 25px;
  margin: 15px 8px;
  cursor: pointer;
  background-color: transparent;
  font-family: 'Quicksand';
}

a {
  color: #7e9f38;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
